<h4><mark>CARS</mark></h4>
<style>
    .row{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 270px 270px 270px;
    }
</style>
<div class="row">
    <div *ngFor="let car of cars" class="card" style="width: 18rem;">
    <div *ngFor="let image of images">
        <img *ngIf="car.id==image.carId"
        [src]="imageUrl + image.imagePath"
        class=""
        style="height:100%; width:100%; object-fit:contain"
        [alt]="imageUrl + image.imagePath"/>
    </div>   
    </div>
    <div class="card-body">
        <h4 class="card-title">{{car.carModel}}</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><mark>Id:</mark>{{car.id}}</li>
        <li class="list-group-item"><mark>Brand:</mark>{{car.brandName}}</li>
        <li class="list-group-item"><mark>Model:</mark>{{car.carModel}}</li>
        <li class="list-group-item"><mark>Model Year:</mark>{{car.modelYear}}</li>
        <li class="list-group-item"><mark>Color:</mark>{{car.colorName}}</li>
        <li class="list-group-item"><mark>Daily Price:</mark>{{car.dailyPrice}}</li>
      </ul>
    <div class="card-body" >
        <a href="#"  class="card-link btn btn-info">Rent It</a>
        <a href="#" routerLink = "/cars/car-details-by-id/{{car.carId}}"
         class="card-link btn btn-info">View Car</a>
      </div>  
</div>